node_modules
dist
test-results
touchpress-results
*-snapshots/touchpress-vitest-adapter-*
playwright-report
.expo
ios
android
*.log
.DS_Store

# dotenv environment variable files
.env
.env.*
!.env.example
